
.container{
    border: 2px solid whitesmoke;;
margin: 225px 459px;
padding: 35px 73px;
border-radius: 10px;
width: 29%;
cursor: pointer;

 }
 .form-group input{
    text-align: center;
display: block;
padding: 14px;
width: 450px;
margin-bottom: 12px;
border: 2px solid whitesmoke;     
 }
 .container h1{
     text-align: center;
     color: #f5f5f5b5;
 }
 .container button{
     display: block;
     width:30%;
     margin:auto;
 }
 .container.btn:hover{
        color:peru;
 }